*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  .wrapper{
  width: 800px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(3px);
  color: #fff;
  border-radius: 12px;
  padding: 10px 10px;
}
.wrapper {
  font-size: 20px;
  text-align: center;
}